%p
  %a{href: '/'}
    %img{src: 'https://www.zold.io/images/logo.svg', style: 'width:92px;height:92px;'}

%p
  Zold Web Wallets

%p
  - if defined? guser
    = "@#{guser[:login]}"
    = '|'
    %a{href: '/logout'}
      Logout
  - else
    %a{href: login_link}
      Login
