%p
  %a{href: '/'}
    %img.logo{src: 'https://www.zold.io/images/logo.svg'}

%p
  Zold Web Wallets

%p
  - if defined? guser
    = "@#{guser[:login]}"
    = '|'
    %a{href: '/logout'}
      Logout
  - else
    %a{href: login_link}
      Login
