%p
  Enter your private keygap in order to get the API token:

%form{method: 'POST', action: '/do-api'}
  %fieldset
    %input{type: 'text', name: 'keygap', placeholder: 'Your secret...', autocomplete: 'off'}
    %input{type: 'submit'}


