%p
  This is the code you should send in the
  %code X-Zold-Wts
  HTTP header in order to perform all API operations:

%p
  %code= "#{confirmed_user.login}-#{confirmed_user.item.token}"

%p
  Click
  %a{href: '/api-reset'} here
  to reset it.
  %strong{style: 'color:red'} Keep it secret!
  Anyone who knows it will be able to access your account!

%p
  More information about the API you can find in our
  %a{href: 'https://github.com/zold-io/wts.zold.io/blob/master/README.md'} README
  file.
