%p
  Enter your
  %a{href: 'https://blog.zold.io/2018/07/18/keygap.html'} keygap
  in order to get the API token:

%form{method: 'POST', action: '/do-api'}
  %fieldset
    %input{type: 'text', name: 'keygap', placeholder: 'Your keygap...', autocomplete: 'off'}
    %input{type: 'submit', value: 'Submit'}


