%p
  The rate is $1 per 1 ZLD (according to the current bitcoin rate).

%p
  To
  %strong buy
  ZLD just send your BTC to this wallet:
  %code= confirmed_user.item.btc
  = '/'
  = succeed '.' do
    %a{href: '/btc-refresh'}< refresh
  Once your payment is completed in the Bitcoin network, you will get ZLD.

%p
  To
  %strong sell
  your ZLD and receive BTC just fill this form
  and we will send you the payment promptly:

%form{method: 'POST', action: '/do-sell'}
  %fieldset{disabled: 'disabled'}
    %label The amount to sell:
    %input{type: 'text', name: 'amount', size: 15, autocomplete: 'off'}
    %label BTC wallet to send to:
    %input{type: 'text', name: 'btc', maxlength: 36, size: 25, autocomplete: 'off'}
    %input{type: 'submit', onclick: "return confirm('Are you sure? This operation is not reversable!')"}
