%h2
  Send Us Bitcoins and Receive Zolds

%p
  The rate is
  %strong= rate
  BTC per 1 ZLD.
  %a{href: '/rate'} Why?

%p
  If any issues or the payment is lost, contact us in our
  = succeed '.' do
    %a{href: 'https://t.me/zold_io'} Telegram group

%p
  Send your bitcoins here:
  %code= address

%p
  This
  %a{href: 'https://blog.zold.io/2018/12/09/btc-to-zld.html'} blog post
  explains how this exchange mechanism works.
