%h2
  Buy/Sell

%p
  You can:

%ul
  %li
    %a{href: '/btc-to-zld'} Send us BTC and receive ZLD
  %li
    %a{href: '/zld-to-btc'} Sell your ZLD and receive BTC
  %li
    %a{href: '/zld-to-paypal'} Sell you ZLD and receive PayPal
    (only if you work in Zerocracy)

%p
  If any questions, don't hesitate to ask in our
  %a{href: 'https://t.me/zold_io'} Telegram group
  or
  %a{href: 'mailto:team@zold.io'} email
  us.
