%h2
  Buy/Sell

%p
  You can:

%ul
  %li
    %a{href: iri.cut('/btc-to-zld')} BTC ➜ ZLD
  %li
    %a{href: iri.cut('/zld-to-btc')} ZLD ➜ BTC

%p
  Only if you work in Zerocracy:

%ul
  %li
    %a{href: iri.cut('/zld-to-paypal')} ZLD ➜ PayPal
  %li
    %a{href: iri.cut('/zld-to-upwork')} ZLD ➜ UpWork

%p
  If any questions, don't hesitate to ask in our
  %a{href: 'https://t.me/zold_io'} Telegram group
  or
  %a{href: 'mailto:team@zold.io'} email
  us.
