- # (The MIT License)
- # 
- # Copyright (c) 2018-2025 Zerocracy
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

%h2
  Buy/Sell

%p
  You can:

%ul
  %li
    %a{href: iri.cut('/btc-to-zld')} BTC ➜ ZLD
  %li
    %a{href: iri.cut('/zld-to-btc')} ZLD ➜ BTC

%p
  Only if you work in
  = succeed ':' do
    %a{href: 'https://www.zerocracy.com'} Zerocracy

%ul
  %li
    %a{href: iri.cut('/zld-to-paypal')} ZLD ➜ PayPal
  %li
    %a{href: iri.cut('/zld-to-upwork')} ZLD ➜ UpWork

%p
  If any questions, don't hesitate to ask in our
  %a{href: 'https://t.me/zold_io'} Telegram group
  or
  %a{href: 'mailto:team@zold.io'} email
  us.
