%p
  The rate is $1 per 1 ZLD (according to the current
  %a{href: 'https://www.coinbase.com'} Coinbase
  rate).

  %p
  To buy ZLD just send your BTC to this wallet:
  = succeed '.' do
    %code 32wtFfKbjWHpu9WFzX9adGssnAosqPkSp6
  In the transaction details you have to say exactly this:
  %code= confirmed_user.item.id
  (if you don't do that your payment will lost forever).
  We check our BTC wallet regularly, every five minutes.
  Once your payment arrives, you will get ZLD.

%p
  To sell your ZLD and receive BTC just fill this form
  and we will send you the payment promptly:

%form{method: 'POST', action: '/do-sell'}
  %fieldset{disabled: 'disabled'}
    %label The amount to sell:
    %input{type: 'text', name: 'amount', size: 15, autocomplete: 'off'}
    %label BTC wallet to send to:
    %input{type: 'text', name: 'btc', maxlength: 36, size: 25, autocomplete: 'off'}
    %input{type: 'submit', onclick: "return confirm('Are you sure? This operation is not reversable!')"}
