%p
  This is your private pass code:

%p{style: 'font-size:4em;color:red;'}
  = user.pass

%p
  You have to save it right now.
  Once you confirm that you saved it, we will destroy it from our database
  and will not be able to restore access to your wallet without this code.
  Click,
  %a{href: '/do-confirm?pass=' + user.pass, onclick: "return confirm('Are you sure? Did you save the code?')"}
    confirm
  when you are ready.
