%h2
  Oops...

%p{style:'color: red;'}
  Internal error at
  =WTS::VERSION
%p
  Please help us improve our service and submit the following
  stacktrace to our
  = succeed ':' do
    %a{href:'https://github.com/zold-io/wts.zold.io/issues'}
      GitHub repo
%pre
  &=error

%p
  We are very sorry... :(
