= Haml::Engine.new(File.read('views/_header.haml')).render(Object.new, local_assigns)

%form{method: 'POST', action: '/pay'}
  %fieldset
    %input{type: 'text', name: 'pass', placeholder: 'Your secret...'}
    %input{type: 'text', name: 'bnf', placeholder: 'The beneficiary'}
    %input{type: 'text', name: 'amount', placeholder: 'Amount, in ZLD'}
    %input{type: 'text', name: 'details', placeholder: 'Payment details'}
    %input{type: 'submit'}

%p
  Balance:
  - if user.wallet.exists?
    = user.wallet.balance
  - else
    not available, click "pull"

%p
  %a{href: '/pull'}
    Pull
  %a{href: '/key'}
    RSA private key

%p
  History
  - if start
    ='(since ' + start.utc.iso8601 + ')'
  %br
  - if user.wallet.exists?
    - user.wallet.txns.sort_by(&:time).reverse.each do |t|
      - if t.time < start
        = t
        %br
        - @last = t.time
  - else
    ='(not available, click "pull")'

- if @last
  %p
    %a{href: '?start=' + @last.utc.iso8601}
      Older

= Haml::Engine.new(File.read('views/_footer.haml')).render(Object.new, local_assigns)
