%p
  Login via
  %a{href: login_link} GitHub
  or
  = succeed '.' do
    %a{href: '/mobile_login'} mobile phone

%p
  %a{href: 'https://www.zold.io'} Zold
  is a fast cryptocurrency for micro payments.
  Read the
  %a{href: 'https://papers.zold.io/wp.pdf'} White Paper
  to understand how it works.
  This web console is a simplified replacement of a command line wallets manager.
  There is only one wallet per user.
  To start using the system you must be authenticated via GitHub (create an account there if you don't have it yet).

%p
  Once you sign-up, you will receive a bonus of
  %strong 0.256 ZLD
  to your wallet.
  However, this will happen only if you are a member of Zerocracy
  = succeed '.' do
    %a{href: 'https://www.0crat.com/team'} team

%p
  The exchange rate is
  %strong= rate
  BTC per 1 ZLD.

%p
  Don't forget to give use a
  %a{href: 'https://github.com/zold-io/zold/stargazers'} GitHub
  star!
