- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
- # SPDX-License-Identifier: MIT

%p
  %a{href: 'https://www.zold.io'} Zold
  is a fast cryptocurrency for micro payments.
  Read the
  %a{href: 'https://papers.zold.io/wp.pdf'} White Paper
  to understand how it works.
  This web console is a simplified replacement of a command line wallets manager.

%p
  There is only one wallet per user.

%p
  Once you sign-up, you will receive a bonus of
  %strong 0.256 ZLD
  to your wallet.
  However, this will happen only if you are a member of Zerocracy
  = succeed '.' do
    %a{href: 'https://www.0crat.com/team'} team
  BTW, you can use your GitHub account to
  = succeed ',' do
    %a{href: login_link} login
  but only if you work in
  = succeed '.' do
    %a{href: 'https://www.0crat.com/team'} Zerocracy

%p
  The exchange rate is
  %strong= rate
  BTC per 1 ZLD.

%p
  Don't forget to give us a
  %a{href: 'https://github.com/zold-io/zold/stargazers'} GitHub
  star!
