%p
  %a{href: 'https://www.zold.io'} Zold
  is a fast cryptocurrency for micro payments.
  Read the
  %a{href: 'https://github.com/zold-io/papers/raw/master/wp.pdf'} White Paper
  to understand how it works.
  This is a web console is a simplified replacement of a command line wallets manager.
  There is only one wallet per user.
  To start using the system you must be authenticated via GitHub (create an account there if you don't have it yet).

%p
  Once you sign-up, you will receive a bonus of
  %strong 8 ZLD
  to your wallet.
