%h2
  Invoice

%p
  This is the
  %a{href: 'https://blog.zold.io/2018/08/06/invoices.html'} invoice
  you can give to your friends:

%pre
  =user.invoice

%p
  Every time you refresh this page, the invoice will be re-generated.
  It is advised to use different invoices for different payments.
