%p
  This is the private
  %a{href: 'https://en.wikipedia.org/wiki/RSA_(cryptosystem)'}
    RSA key
  for your wallet
  =' '
  = succeed ':' do
    %code
      =user.item.id

%pre
  =user.item.raw_key.gsub(/\*/, '<span style="color:red">*</span>')

%p
  Even though we keep this private RSA key in our database, it can't be used to send out money from your wallet,
  because a small and important part of it has been extracted (a keygap) and given to you (marked with red stars).
  Every time you make a new payment we ask you to provide it.
  Thus, even if our database gets hacked and/or stolen, your wallet is safe.
