!!! 5
%html
  %head
    %title
      =title
    %meta{charset:'UTF-8'}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    %meta{name:'keywords', content:'Zold, Cryptocurrency, Payments, Online Payments'}
    %meta{name:'description', content:'Zold Web Wallets'}
    %link{type:'text/css', href:url('css/main.css'), rel:'stylesheet'}
    %link{rel:'shortcut icon', href:'https://www.zold.io/images/logo.png'}
  %body
    %section
      %header
        %p
          %a{href: '/'}
            %img.logo{src: 'https://www.zold.io/images/logo.svg'}
        %p
          Zold Web Wallets
        %p
          - if defined? guser
            = "@#{guser[:login]}"
            = '|'
            %a{href: '/logout'}
              Logout
          - else
            %a{href: login_link}
              Login
      %article
        = yield
      %footer
        %p
          ='--'
        %p
          =ver
