%h2
  Migrate

%p
  When your wallet is too big its processing becomes
  slower. It is advised to migrate to a new wallet once you
  have more than a thousands transactions. Your funds
  will be transferred to a new one, the private RSA key and
  the keygap will remain the same. Just the wallet ID will
  be changed and all current transactions will remain in the
  old wallet.

- if user.wallet_exists?
  - total = user.wallet(&:txns).count
  %p
    There are
    = total
    transaction(s) in your wallet
    = succeed '.' do
      %code= user.item.id
    - if total > 1000
      It is
      %span.green highly recommended
      to migrate!
    - else
      It is
      %span.red not recommended
      to migrate yet, but you can, of course.

%form{method: 'GET', action: iri.cut('/do-migrate')}
  %label
    Your
    %a{href: 'https://blog.zold.io/2018/07/18/keygap.html'} keygap
    (it is
    = succeed '):' do
      %a{href: 'https://blog.zold.io/2019/03/30/keygap-is-lost.html'} lost?
  %input{type: 'password', name: 'keygap', autocomplete: 'off', tabindex: 1, autofocus: true}
  %input{type: 'submit', value: 'Migrate'}

%p
  %a{href: 'https://blog.zold.io/2019/01/15/taxes-explained.html'} Taxes
  will be paid first.
