%h2
  Step 1: Request Code

%form{method: 'GET', action: '/mobile/send'}
  %fieldset
    %label
      Enter your mobile phone in
      %a{href: 'https://en.wikipedia.org/wiki/E.164'} E.164
      format:
    %input{type: 'text', name: 'phone', placeholder: '12125551122', autocomplete: 'off', required: true, tabindex: 1, autofocus: true}
    %input{type: 'submit', tabindex: 3, value: 'Request'}

%p
  The
  %a{href: 'https://en.wikipedia.org/wiki/SMS'} SMS
  will arrive to your mobile phone
  within the next three minutes.
