-# SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
-# SPDX-License-Identifier: MIT

%h2
  Page Not Found

%p
  This page is not here:
  %code= request.url

%p
  Most likely the link is broken or expired.
