%p
  Your current balance is
  = succeed '.' do
    %code= confirmed_user.wallet(&:balance)

%form{method: 'POST', action: '/do-pay'}
  %fieldset
    %label
      Your
      = succeed ':' do
        %a{href: 'https://blog.zold.io/2018/07/18/keygap.html'} keygap
    %input{type: 'text', name: 'keygap', placeholder: 'Your secret...', autocomplete: 'off', required: true}
    %label
      Send ZLD to (either wallet ID or
      %a{href: 'https://github.com'} GitHub
      login):
    %input{type: 'text', name: 'bnf', maxlength: 128, size: 25, placeholder: 'e.g. "@yegor256"', autocomplete: 'off', required: true}
    %label
      The amount to pay, ZLD:
    %input{type: 'text', name: 'amount', maxlength: 32, size: 15, placeholder: 'e.g. "14.95"', autocomplete: 'off', required: true}
    %label
      Payment details:
    %input{type: 'text', name: 'details', maxlength: 512, style: 'width:100%', placeholder: 'e.g. "For services"', autocomplete: 'off'}
    %input{type: 'submit', onclick: "return confirm('Are you sure? This operation is not reversable!')"}

%p
  = succeed ':' do
    %span{style: 'color: red'} ATTENTION
  This operation is not reversable.
  Once you send the payment, you will not be able to get it back, ever.
  Do this at your own risk.
