- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
- # SPDX-License-Identifier: MIT

%h2
  Receipt
  = "##{hash}"

%div{style: 'float: right'}
  %img{src: 'https://www.zold.io/images/logo-blue.svg', alt: 'Zold logo', style: 'width: 128px; height: 128px;'}

%p
  The receipt is provided for the transaction
  made through the WTS system by one of its users
  online. The information here is strictly confidential
  and is supposed to be visible only the designated
  reader.

%p.monospace{style: "white-space: pre-wrap"}
  = details

%div{style: 'float: right'}
  %img{src: Iri.new('https://api.qrserver.com/v1/create-qr-code/').add(size: '128x128', data: iri.to_s, format: 'svg')}

%p
  The system is operated by
  %a{href: 'https://www.zerocracy.com'} Zerocracy

%p
  Ste 470, 555 Bryant Str.
  %br
  Palo Alto, CA 94301
  %br
  +1.408.692.4742
  %br
  %a{href: 'mailto:receipts@zold.io'} receipts@zold.io
